.container {
	width: 100vw;
	height: 100vh;
	background-image: url("boombox.jpg");
	background-size: 750px;
	background-repeat: no-repeat;
	background-position: top;
	position: relative;
}
.player {
	margin-left: 42.5vw;
	margin-top: 62vh;
	width: 15vw;
}
button {
	position: absolute;
	border-radius: 50%;
	width: 37px;
	height: 37px;
	top: 188px;
	text-align: center;
	left: 50%;
}

#text {
	text-align: center;
	top: 20px;
}

#button1 {
	transform: translateX(-132px);
}

#button2 {
	transform: translateX(-70px);
}

#button3 {
    transform: translateX(-14px);
}

#button4 {
	transform: translateX(43px);
}

#button5 {
    transform: translateX(99px);
}

