.container {
	width: 100vw;
	height: 100vh;
	background-image: url("boombox.jpg");
	background-size: 750px;
	background-repeat: no-repeat;
	background-position: top;
	position: relative;
}
.player {
	margin-left: 42.5vw;
	margin-top: 62vh;
	width: 15vw;
}
button {
	position: absolute;
	border-radius: 50%;
	width: 37px;
	height: 37px;
	top: 188px;
	text-align: center;
}

#text {
	text-align: center;
	top: 20px;
}

#button1 {
	margin-left: -18vw;
}

#button2 {
	margin-left: -13vw;
}

#button3 {
	margin-left: -8.5vw;
}

#button4 {
	margin-left: -4vw;
}

#button5 {
	margin-left: 0.5vw;
}

