<!DOCTYPE html>
<head>
	<! content is number of seconds before refresh -->
	  <meta name="changecontent" http-equiv="refresh" content="3600">
	      <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

</head>
<body>
<div class="container">
	<p>Name: {{ name }} </p>
	<p>Country: {{ country }} </p> 
	<p>Language: {{ language }} </p>
	<video class="player" controls autoplay name="media">
		<source src="{{ url }}" type="audio/mpeg">		
	</video>
<a href="{{ url_for('index') }}"><button id="button1">skip</button></a>
<a href="{{ url_for('tenSeconds') }}"><button id="button2">10s</button></a>
<a href="{{ url_for('oneMinute') }}"><button id="button3">1m</button></a>
<a href="{{ url_for('tenMinutes') }}"><button id="button4">10m</button></a>
<a href="{{ url_for('oneHour') }}"><button id="button5" style="color:red">1h</button></a>
</div>

</body>