<!DOCTYPE html>

<head>
  <script src="https://code.jquery.com/jquery-3.4.1.js">
		$(document).ready(function() {
			var chosentime = $("#chosentime").val();
			console.log(chosentime);
			$('#changecontent').attr('content', chosentime);
		});
	</script>
	  <meta id="changecontent" http-equiv="refresh" content="200">
</head>
<body>
	<p>{{ name }} {{ country }} {{ language }}</p>
	<audio controls autoplay name="media">
		<source src="{{ url }}" type="audio/mpeg">		
	</audio>
<a href="{{ url_for('index') }}"><button>something else now please</button></a>
<select id="chosentime">
  <option value="10">10</option>
  <option value="20">20</option>
  <option value="30">30</option>
</select>
</body>